/* =============================================================

	Simple Social Sharing v1.0
	Fork by Cam http://camgould.com
	Based on work by Chris Ferdinandi http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */

body {
	font-family: sans-serif;
}

p {
	text-align: center;
}

a.share {
    opacity: .75;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    font-weight:200;
}
a.share:hover {
	opacity: 1.0;
}

a.share#twitter {
	color: #3697b2;
}
a.share#facebook {
	color: #3b5997;
}
a.share#google {
	color: #d64937;
}
a.share#tumblr {
	color: #3d5874;
}
a.share#linkedin {
	color: #0073b2;
}
a.share#fancy {
	color: #4aa6e1;
}
a.share#pinterest {
	color: #c9232c;
}
a.share#vk {
	color: #57789a;
}
a.share#xing {
	color: #0a6463;
}